# Relatório de Análise

## Tipos de Imóveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [7]:
tipo_de_imovel = dados['Tipo']

In [9]:
type(tipo_de_imovel)

pandas.core.series.Series

In [11]:
#Remove informações duplicadas
tipo_de_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [13]:
#inplace = True - Coloca a alteração na variável
tipo_de_imovel.drop_duplicates(inplace=True)

In [14]:
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Embelezando a visualização

In [16]:
#Exibe os indíces
tipo_de_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [19]:
#Exibe a quantidade de linhas
tipo_de_imovel.shape[0]

22

In [20]:
#Para alterar os indíces
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [21]:
tipo_de_imovel

0                       Quitinete
1                            Casa
2         Conjunto Comercial/Sala
3                     Apartamento
4              Casa de Condomínio
5                  Prédio Inteiro
6                            Flat
7                      Loja/Salão
8         Galpão/Depósito/Armazém
9                  Casa Comercial
10                   Casa de Vila
11                 Terreno Padrão
12                    Box/Garagem
13                           Loft
14    Loja Shopping/ Ct Comercial
15                        Chácara
16          Loteamento/Condomínio
17                          Sítio
18                  Pousada/Chalé
19                         Studio
20                          Hotel
21                      Indústria
Name: Tipo, dtype: object